.btn {
    padding: 20px;
    background-repeat: 10px;
    border: 2px solid blue;
    border-radius: 20px;
    background-color: rgba(198, 138, 227, 0.594);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background-color: rgba(172, 65, 225, 0.78);
}